* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}
a {
  text-decoration: none;
}
main {
  position: relative;
  overflow: hidden;
  width: 100vw;
  min-height: 100vh;
  background-color: #f7f1db;
  padding-top: 20px;
  padding-bottom: 100px;
}
.container {
  width: 100%;
  display: grid;
  grid-template-rows: auto auto auto;
  row-gap: 20px;
}
.logo {
  margin: 0 auto;
}
img {
  width: 40%;
}
.social-btns {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}
.social-btns p {
  font-size: 20px;
  color: #052c17;
  letter-spacing: 1px;
}
.social-btns img {
  width: 80px;
  cursor: pointer;
}
.reservation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.reservation h3 {
  margin-top: -20px;
}
.reservation h1 {
  margin-top: 10px;
  color: #052c17;
  font-size: 80px;
}
.reservation a {
  margin-top: 10px;
  border-radius: 30px;
  padding: 15px 45px;
  background-color: #e4ddc5;
  color: #052c17;
  font-size: 45px;
}
.contact-container {
  font-size: 24px;
  display: flex;
  align-items: center;
  color: #052c17;
  font-weight: 700;
}
.contact-container span a {
  background-color: transparent;
  font-size: 32px;
  padding: 0 !important;
}
.contact-container span {
  padding-left: 5px !important;
  padding-top: 15px !important;
}
.phone {
  padding: 0 !important;
}
.phone img {
  width: 110px !important;
  vertical-align: middle;
}

h3 {
  font-size: 24px;
  color: rgb(170, 166, 166);
  width: fit-content;
  margin: 0 auto;
  margin-top: 40px;
}
h3::before {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: rgb(170, 166, 166);
  margin-bottom: -19px;
}
h3::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: rgb(170, 166, 166);
  margin-left: 220px;
  margin-top: -15px;
}
.stamp {
  transform: rotate(-28deg);
  opacity: 0.6;
  width: 150px;
  position: absolute;
  bottom: 20px;
  right: 5%;
}
@media (max-width: 800px) {
  img {
    width: 80%;
  }
}

@media (max-width: 450px) {
  .reservation h1 {
    font-size: 30px;
  }
  .reservation a {
    font-size: 20px;
    padding: 8px 15px;
  }
  .phone img {
    width: 60px !important;
    vertical-align: middle;
  }

  .contact-container span a {
    font-size: 18px;
  }
  .stamp {
    bottom: 1px;
    right: 10px;
  }

  .social-btns {
    gap: 10px;
  }

  .social-btns img {
    width: 50px;
    display: flex;
    cursor: pointer;
    align-items: center;
  }
  .stamp {
    width: 100px;
  }
}

@media (max-width: 768px) and (min-width: 451px) {
  .reservation h1 {
    font-size: 58px;
  }
  .reservation a {
    font-size: 36px;
    padding: 8px 15px;
  }
  .phone img {
    width: 80px !important;
    vertical-align: middle;
  }
  .contact-container span a {
    font-size: 26px;
  }
  .social-btns {
    gap: 15px;
  }

  .social-btns img {
    width: 60px;
    display: flex;
    cursor: pointer;
    align-items: center;
  }
  .stamp {
    width: 120px;
  }
}
